<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
		<div class="row">
			<div id="test1" class="col s12">
		      	<table th:if="${not #lists.isEmpty(products)}" class="bordered highlight responsive-table col s12 l12 topMargin" id="products" >
			        <thead>
			          <tr >			              
			              <th data-field="no" >Product Number</th>
			              <th data-field="name" >Name</th>
			              <th data-field="name" >Category</th>
			              <th style="text-align: right;" data-field="price-eur" >Unit price</th>
			              <th style="text-align: right;" data-field="price-usd" >Amount</th>
			          </tr>
			        </thead>
			        
			        <tfoot>
					    <tr  >
					      <td style="padding: 5px; padding-top: 10px; "></td>
					      <td style="padding: 5px; "></td>
					      <td style="padding: 5px; "></td>
					      <td style="padding: 5px; padding-top: 10px; text-align: right; font-size: medium;">Total:</td>
					      <td style="padding: 5px; padding-top: 10px; text-align: right; font-size: medium;" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}+' &euro;'"></td>
					    </tr>					    
					    <tr>
					      <td style="padding: 5px; "></td>
					      <td style="padding: 5px; "></td>
					      <td style="padding: 5px; "></td>
					      <td style="padding: 5px; padding-bottom: 10px; text-align: right; font-size: medium;">PDV:</td>
					      <td style="padding: 5px; padding-bottom: 10px; text-align: right; font-size: medium;" th:text="${#numbers.formatDecimal(total*0.25, 0, 'COMMA', 2, 'POINT')}+' &euro;'"></td>
					    </tr>					   
					    <tr>
					      <td style="padding: 5px;"></td>
					      <td style="padding: 5px;"></td>
					      <td style="padding: 5px;"></td>
					      <td class="textTotal" style="font-size:medium; "><b>Total + PDV:</b></td>
					      <td class="textTotal" style="font-size:large;"><b th:text="${#numbers.formatDecimal(total*1.25, 0, 'COMMA', 2, 'POINT')}+' &euro;'"></b></td>
					    </tr>
					</tfoot>
			
			        <tbody>
						<tr th:each="product : ${products}">
		   					<td th:text="${product.productNumber}"></td>
		   					<td th:text="${product.name}"></td>
		   					<td th:text="${product.category.name}"></td>
		   					<td style="text-align: right;" th:text="${#numbers.formatDecimal(product.priceEUR, 0, 'COMMA', 2, 'POINT')}+' &euro;'"></td>
		   					<td style="text-align: right;" th:text="${#numbers.formatDecimal(product.priceEUR, 0, 'COMMA', 2, 'POINT')}+' &euro;'"></td>
						</tr>
			        </tbody>
		      	</table>
		      	<div th:if="${#lists.isEmpty(products)}" class="row"></div>
				<div th:if="${#lists.isEmpty(products)}" class="row"></div>
				<h5 th:if="${#lists.isEmpty(products)}" class="center" >Please place your cart on table!</h5>		   		    	     
		    </div>
		 </div>
	</body>
</html>