<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
		<div class="row">
			<div id="test1" class="col s12">
		      	<table th:if="${not #lists.isEmpty(cartProducts)}" class="bordered highlight responsive-table col s12 l12 topMargin" id="products" >
			        <thead>
			          <tr>			              
			              <th data-field="no" >Product Number</th>
			              <th data-field="name" >Name</th>
			              <th data-field="name" >Category</th>
			              <th data-field="quantity" >Quantity</th>
			              <th data-field="price-eur" >Price EUR</th>
			              <th data-field="price-usd" >Price USD</th>
			          </tr>
			        </thead>
			        
			        <tfoot>
					    <tr>
					      <td></td>
					      <td></td>
					      <td></td>
					      <td><b>Total:</b></td>
					      <td><b></b></td>
					      <td><b></b></td>
					    </tr>
					</tfoot>
			
			        <tbody>
						<tr th:each="cartProduct : ${cartProducts}">
		   					<td th:text="${cartProduct.product.productNumber}"></td>
		   					<td th:text="${cartProduct.product.name}"></td>
		   					<td th:text="${cartProduct.product.category.name}"></td>
		   					<td th:text="${cartProduct.quantity}"></td>
		   					<td th:text="${cartProduct.product.priceEUR}+' &euro;'"></td>
		   					<td th:text="${cartProduct.product.priceUSD}+' $'"></td>
						</tr>
			        </tbody>
		      	</table>
		      	<div class="row"></div>
				<div class="row"></div>
				<h5 th:if="${#lists.isEmpty(cartProducts)}" class="center" >Please place your cart on table!</h5>		   		    	     
		    </div>
		 </div>
	</body>
</html>