<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">

</head>

<body>
	<nav th:replace="template :: nav"></nav>
	<main>	
	<div class="container">	
		<div class="row"></div>	
		<div class="row">
			<div class="row">
			</div>			
			<div class="row">
				<h4 class="center" >Log In </h4>	
			</div>
			
			<div class="col s2 m3 l3">
			</div>				
			<form class="col s8 m6 l6" th:action="@{/login}" method="post" autocomplete="on">
				<div class="row">
					<div class="input-field col s12">
						<input id="username" name="username" type="text" required="required" class="validate" value="admin" autofocus="autofocus"/> 
						<label for="first_name" >Username or E-mail</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" name="password" type="password" required="required" class="validate" value="admin"/> 
						<label for="password" >Password</label>
						<span th:if="${loginError}" style="color: #F44336;" class="error" >Wrong username or password or you do not have administrator privileges.</span>	
					</div>
				</div>
				
				<div class="row center">
					<button class="btn waves-effect waves-light blue darken-2" type="submit" name="action" >Log In</button>
				</div>

			</form>

		</div>
	</div>
	</main>	
	<div th:replace="template :: footer" id="main-wrapper" ></div>


</body>
</html>