<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">

</head>

<body>
	<div th:replace="template :: nav"></div>
	<main>
	<div class="container">
		<div class="row">
			<h4 class="center topMargin" >Products</h4>			
			<div id="test1" class="col s12">
				<table class="bordered highlight responsive-table col s12 l12 topMargin" id="products" >
			        <thead>
			          <tr>
			              <th data-field="no" >Product Number</th>
			              <th data-field="name" >Name</th>
			              <th data-field="price-eur" >Price EUR</th>
			              <th data-field="price-usd" >Price USD</th>
			              <th data-field="active" >Active</th>
			          </tr>
			        </thead>
			
			        <tbody>
						<tr th:each="product : ${products}">
		   					<td th:text="${product.productNumber}"></td>
		   					<td th:text="${product.name}"></td>
		   					<td th:text="${product.priceEUR}+'&euro;'"></td>
		   					<td th:text="${product.priceUSD}+'$'"></td>
		   					<td th:text="${product.active}"></td>
						</tr>
			        </tbody>
		      	</table>
		    </div>
		    
		    </div>
		    <div class="row"></div>
		</div>	
	
	</main>
	<div th:replace="template :: footer" ></div>
</body>
</html>