<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
	<nav th:replace="template :: nav"></nav>
	<main>			
		<div class="container">
			<div class="row"></div>
			<div class="row">
			    <h4 class="center" >Your Cart</h4>		   		    	     
				<div id="myDiv"></div>
			</div>
		</div>
	</main>
	<div th:replace="template :: footer"></div>
	<script>
	
		$(document).ready(function(){
		   new getCart(); 
		 });
	
		function getCart(){
			$.get( "http://localhost:8080/cart", function( data ) {
				$( "#myDiv" ).html( data );
			}).done(function(){
		        setTimeout(function(){getCart();}, 5000);
		    });
		}
	</script>
</body>
</html>