<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
	<nav th:replace="template :: nav"></nav>
	<main>			
		<div class="container">
			<div class="row">
			    	<h4 class="center" >Smart shopping</h4>		   		    	     
	
			</div>
		</div>
	</main>
	<div th:replace="template :: footer"></div>
	<script th:src="@{/js/speech-recognition.js}"></script>
	<img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" width="50"/>
</body>
</html>