<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
	<nav th:replace="template :: nav"></nav>
	<main>			
		<div class="container">
			<div class="row"></div>
			<div class="row">
			    <h4 class="center" >Your Cart</h4>		   		    	     
				<div id="myDiv"></div>
				<div class="row">
					<div class="input-field col s12 l6 center">
						<button class="btn waves-effect waves-light red lighten-1" >Cancel shopping</button>						
					</div>
					<div class="input-field col s12 l6 center">
						<a onclick="return confirm('Are you sure you want to pay this?');" class="btn waves-effect waves-light blue darken-2" href="/smart-shopping-buy" >Finish shopping (PAY)<i class="material-icons right">send</i></a>
					</div>	
				</div>
			</div>
		</div>
	</main>
	<div th:replace="template :: footer"></div>
	<script>
	
		$(document).ready(function(){
		   new getCart(); 
		 });
	
		function getCart(){
			$.get( "/cart", function( data ) {
				$( "#myDiv" ).html( data );
			}).done(function(){
		        setTimeout(function(){getCart();}, 5000);
		    });
		}
	</script>
</body>
</html>