<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	 <meta charset="utf-8" />
	 <title>FOI Core</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link th:href="@{/images/ecx-favicon.png}" rel="shortcut icon" />
	 <link th:href="@{/css/materialize.min.css}" rel="stylesheet" media="screen, projection" />
	 <link th:href="@{/css/styles.css}" rel="stylesheet" />
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	 <link th:href="@{/css/datatables.min.css}" rel="stylesheet" />
</head>
<body>
 	
 	<div th:fragment="nav" id="nav" >
		
		<ul class="side-nav" id="mobile-demo" style="z-index: 999;">
			<li sec:authorize="isAuthenticated()" class="divider"></li>
			<li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/user-list" >Users</a></li>
			<li sec:authorize="hasAuthority('ADMIN')" class="divider"></li>
			<li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/new-product" >New Product</a></li>
			<li sec:authorize="hasAuthority('ADMIN')" class="divider"></li>
			<li sec:authorize="isAuthenticated()"><a href="/product-list" >Products</a></li>
			<li sec:authorize="isAuthenticated()" class="divider"></li>
			<li sec:authorize="isAuthenticated()"><a href="/smart-shopping" >Smart Shopping</a></li>
			<li sec:authorize="isAuthenticated()" class="divider"></li>
			<li sec:authorize="isAuthenticated()"><a href="/shopping" >Shopping</a></li>
			<li sec:authorize="isAuthenticated()" class="divider"></li>
			<li sec:authorize="isAnonymous()"><a href="/login" >Log In</a></li>
			<li sec:authorize="isAnonymous()" class="divider"></li>
			<li sec:authorize="isAnonymous()"><a href="/signup" >Sign Up</a></li>
			<li sec:authorize="isAnonymous()" class="divider"></li>
			<li sec:authorize="isAuthenticated()"><a href="/your-profile" >Your profile</a></li>
			<li sec:authorize="isAuthenticated()" class="divider"></li>
			<li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()" >Log Out</a></li>
			<li sec:authorize="isAuthenticated()" class="divider"></li>		  					    		
			<li style="display:inline;"><a style="display:inline;" >EN</a><a style="display:inline;" >HR</a></li>		  					    		
			<li sec:authorize="isAuthenticated()" class="divider"></li>		  					    		
		</ul>		
				 			
			<div class="navbar-fixed">
		   		<nav class="nav-extended " style="background-color: #34495e" >
					<div class="nav-wrapper ">
      					<a style="margin-left: 20px;" href="/index" class="brand-logo">Whatever</a>
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a >EN</a></li>					    
							<li><a >RU</a></li>
							<li sec:authorize="isAuthenticated()"><a sec:authentication="name" href='#' data-activates='userDrop' data-beloworigin="true" class='dropdown-button btn blue darken-2'  style="width: 150px; margin-left: 0" ></a></li>
		          		</ul>
		          		<ul id="nav-mobile" class="hide-on-med-and-down" style="margin-left: 170px;" >
							<li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/user-list" >Users</a></li>
							<li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/new-product" >New Product</a></li>
							<li sec:authorize="isAuthenticated()"><a href="/product-list" >Products</a></li>
							<li sec:authorize="isAuthenticated()"><a href="/smart-shopping" >Smart Shopping</a></li>
							<li sec:authorize="isAuthenticated()"><a href="/shopping" >Shopping</a></li>
							<li sec:authorize="isAnonymous()"><a href="/login" >Log In</a></li>
							<li sec:authorize="isAnonymous()"><a href="/signup" >Sign Up</a></li>
		          		</ul>
					</div>
					   	<ul id='userDrop' class='dropdown-content'>
						    <li><a href="/user-profile" >Your profile</a></li>
						    <li class="divider"></li>					  					    
						    <li class="divider"></li>
						    <li class=" grey lighten-3" ><a href="javascript: document.logoutForm.submit()" >Log Out</a></li>    
					  	</ul>
					<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
	      				<input  type="hidden" value="Logout"/>
	   				</form>
				</nav>
			</div>
			
	</div>

	<div th:fragment="footer" >
		<footer class="page-footer orange" style="padding-top: 0px;">
          <div class="footer-copyright" style="background-color: #34495e">
            <div class="container center">
				&copy; 2017 Dejan Mikulinjak &#38; Nino Žvorc
            </div>
          </div> 
        </footer>
		<script th:src="@{/js/jquery-3.1.1.js}"></script>
		<script th:src="@{/js/materialize.min.js}"></script>
		<script type="text/javascript">
		
   			$(".button-collapse").sideNav(); 
   			
  		</script>
	</div>
	
</body>

</html>