<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">

</head>

<body>
	<div th:replace="template :: nav"></div>
	<main>
	<div class="container">
		<div class="row">
			<h4 class="center topMargin" >Users</h4>			
			<div id="test1" class="col s12">
				<table class="bordered highlight responsive-table col s12 l12 topMargin" id="users" >
			        <thead>
			          <tr>
			              <th data-field="pp" ></th>
			              <th data-field="name" >Name</th>
			              <th data-field="username" >Username</th>
			              <th data-field="email" >E-mail</th>
			              <th data-field="phone" >Phone</th>
			              <th data-field="roles" >Roles</th>
			              <th data-field="roles" >Active/Deactive</th>
			          </tr>
			        </thead>
			
			        <tbody>
						<tr th:each="user : ${users}">
		   					<td><img th:attr="src=@{${user.encodeBase64(user.avatar)}}" height="50px;" class="circle" /></td>
		   					<td th:text="${user.firstName}+' '+${user.lastName}"></td>
		   					<td th:text="${user.username}"></td>
		   					<td th:text="${user.email}"></td>
		   					<td th:text="${user.phone}"></td>
		   					<td th:text="${user.getRolesString(user.roles)}"></td>
						</tr>
			        </tbody>
		      	</table>
		    </div>
		    
		    </div>
		    <div class="row"></div>
		</div>	
	
	</main>
	<div th:replace="template :: footer" ></div>
</body>
</html>